@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

*{
    margin:0;
    padding:0;
    border:none;
}
body{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color:#3a3a3a;
}
/* headings and logos */

h1, h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;  
    color: green;  
}

#logo {
    float:left;
    font-size: 280%;
    margin-left: 30px;
}
/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    }
#menu, #logo {
    line-height:75px;
    color:green;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    border-bottom: 1px solid #3a3a3a
}
.active {
    border-bottom:1px solid #3a3a3a;
}

.container {
    display: flex;
    align-items: center;
    float: left;
}
img {
    max-width:100%;
}

.text {
    text-align: center;
    margin: 0 100px;   
    font-size: 200%; 
}
h2 {
    letter-spacing: 5px;
    padding: 5px;
}
p, li, form {
    letter-spacing: 3px;
    font-size: 110%;
    font-weight: bold;
    color:green;
}

.text-center {
    float: left;
    width: 100%
}
 #about-us {
    width:inherit;
    height:430px;
    background-color:#E5FFE3FF ;      
 }
 #about-us-heading > h2 {    
    text-align: center;
    padding:20px 0 0;
 }
 #about-us-heading > p {
    text-align: center;
 }
  #about-us-offer {
    margin-top: 20px;
    margin-left:530px;
    line-height:30px;
 }

 th, td {
    padding:3px 25px 3px 25px;
}
table {
    border-collapse: collapse;
  }
  
  tr {
    border-bottom: 1pt solid black;
  }
  #row1 {
    border-bottom: 1.5pt solid black;
  }
  #about-us-table {
    letter-spacing: 3px;
    font-size: 110%;
    margin-top: 10px;
    margin-left:610px;
 }

 
  .form-section {
    clear: left;    
    height: 400px;
    width: inherit;
    background-color:#FFFBC9FF ;
    margin-top: 4px;
}
.form-section > p {
    font-size: x-large;
}
.form-section h2 {
    text-align: center;
    padding:20px 0 0;
}
.form-section p {
    text-align: center;
}
.signup-form {      
    max-width: 300px;
    margin-left:610px;
    padding: 20px 5px;    
}
label {
    display: flex;
    justify-content: center;
}

.text-input {
    width: 300px;
    height: 30px;
 }
input {
    border: 2px solid rgb(139, 131, 131);
    border-radius: 4px;
  }

  input[type=submit] {
    border: 1px solid black;
    width: 120px;
    height: 60px;
    border-radius: 50%;
    font-size:25px;
    color:white;
    background-color: green;
    display: block;
    margin: 0 auto;
  }

hr {
    margin:2px;
}
#submit-hr {
    margin:15px;
}
.social-networks {
    margin: 50px;
}

#contact-us {
    clear: left;    
    height: 300px;
    width:inherit;
    background-color:#E6FBFFFF ;
    margin-top: 4px;
}
#contact-us h2 {
    text-align: center;
    padding:30px 0 0;
}
#contact-us p {
    line-height: 20px;
    text-align: center;
    margin-top: 20px;
}
#contact-us-heading > p {
    letter-spacing: 5px;
}

.social-networks {
    text-align: center;
}
.social-networks > li {
    display: inline;
}
.social-networks i {
    font-size: 160%;
    margin: 0 1%;
    padding:0 3%;
    color: #3a3a3a
}
